@page "/CClientes"

@using Models
@using System.Net.Http
@using Reportes

@inject HttpClient Http
@inject IToastService toast

<div class="card-img">
    <div class="card-header">
        <h1>Consulta de Clientes</h1>
    </div>

    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label>Filtro</label>
                    <select class="form-control" @bind="Filtro">
                        <option value="0">Todo</option>
                        <option value="1">ClienteId</option>
                        <option value="2">Nombre</option>
                        <option value="3">Nombre de Usuario</option>
                        <option value="4">Correo</option>
                    </select>
                </div>
                &nbsp;
                <div class="form-group">
                    <label>Criterio</label>
                    <div class="input-group">
                        <input type="text" @bind="Criterio" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => Consultar())"><i class="oi oi-list-rich" /> Consultar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Cliente Id</th>
                            <th>Nombres</th>
                            <th>Telefono</th>
                            <th>Nombre de Usuario</th>
                            <th>Correo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        @foreach (var item in ListaClientes)
                        {
                            <tr>
                                <td>@item.ClienteId</td>
                                <td>@item.Nombres</td>
                                <td>@item.Telefono</td>
                                <td>@item.NombreUsuario</td>
                                <td>@item.Correo</td>
                                <td><a href="@($"RClientes/{item.ClienteId}")">Mostrar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>

    <div class="card-footer">
            <div class="form-group text-center">
                <button class="btn btn-lg btn-primary oi oi-file" @onclick="GenerarReporte"> Generar Reporte</button>
            </div>

             <form>
                @if (Data is { })
                {
                    <object data="@pdfContent" width="1000" height="500"></object>
                }
            </form> 
        </div>
</div>

@code
{
    private List<Clientes> ListaClientes { get; set; }

    public string Filtro { get; set; }

    public string Criterio { get; set; }

    string pdfContent = "";

    byte[] Data;

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        ListaClientes = new List<Clientes>();
        Filtro = "0";
        Criterio = string.Empty;
    }

    public async Task Consultar()
    {

        ListaClientes = (await Http.GetFromJsonAsync<Clientes[]>($"http://localhost:5000/Api/Clientes")).ToList();

        switch (Filtro)
        {
            case "0": //Todo
                break;
            case "1"://ClienteId
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        int id = Convert.ToInt32(Criterio);
                        ListaClientes = ListaClientes.Where(c => c.ClienteId == id).ToList();
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                        ListaClientes.Clear();
                    }
                }
                else
                {
                    ListaClientes = ListaClientes.Where(c => true).OrderBy(c => c.ClienteId).ToList();
                }
                break;
            case "2"://Nombres
                if (Criterio.Trim().Length > 0)
                {
                    ListaClientes = ListaClientes.Where(c => c.Nombres.Contains(Criterio)).ToList();
                }
                else
                {
                    ListaClientes = ListaClientes.Where(c => true).OrderBy(c => c.Nombres).ToList();
                }
                break;
            case "3"://NombreUsuario
                if (Criterio.Trim().Length > 0)
                {
                    ListaClientes = ListaClientes.Where(c => c.NombreUsuario.Contains(Criterio)).ToList();
                }
                else
                {
                    ListaClientes = ListaClientes.Where(c => true).OrderBy(c => c.NombreUsuario).ToList();
                }
                break;
            case "4"://Correo
                if (Criterio.Trim().Length > 0)
                {
                    ListaClientes = ListaClientes.Where(c => c.Correo.Contains(Criterio)).ToList();
                }
                else
                {
                    ListaClientes = ListaClientes.Where(c => true).OrderBy(c => c.Correo).ToList();
                }
                break;
        }
    }

    private void GenerarReporte()
    {
        ReporteClientes cliente = new ReporteClientes();

        Data = cliente.Reporte(ListaClientes);

        pdfContent = "data:application/pdf;base64,";
        pdfContent += System.Convert.ToBase64String(Data);
    }
}