@page "/CHabitacion"

@using Models
@using System.Net.Http

@inject HttpClient Http
@inject IToastService toast

<div class="card-img">
    <div class="card-header">
        <h1>Consulta de Habitacion</h1>
    </div>

    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group">
                    <label>Filtrar por Fecha</label>
                    <select class="form-control" @bind="FiltroFecha">
                        <option value="0">Todo</option>
                        <option value="1">Fecha</option>
                    </select>
                </div>
                &nbsp;
                <div class="form-group">
                    <label>Desde</label>
                    <input type="date" @bind="Desde" class="form-control" />
                </div>
                &nbsp;
                <div class="form-group">
                    <label>Hasta</label>
                    <input type="date" @bind="Hasta" class="form-control" />
                </div>
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                <div class="form-group">
                    <label>Filtro</label>
                    <select class="form-control" @bind="Filtro">
                        <option value="0">Todo</option>
                        <option value="1">Habitación Id</option>
                        <option value="2">Número habitación</option>
                        <option value="3">Tipo</option>
                        <option value="4">Características</option>
                        <option value="5">Precio</option>
                    </select>
                </div>
                &nbsp;
                <div class="form-group">
                    <label>Criterio</label>
                    <div class="input-group">
                        <input type="text" @bind="Criterio" class="form-control">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => Consultar())"><i class="oi oi-list-rich" /> Consultar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="table-responsive text-nowrap">
                <table class="table table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Habitación ID</th>
                            <th>Numero Habitación</th>
                            <th>Tipo</th>
                            <th>Caracteriscas</th>
                            <th>Precio</th>
                            <th>Estado</th>
                            <th>Foto</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">
                        @foreach (var item in ListaHabitacion)
                        {
                        <tr>
                            <td>@item.HabitacionId</td>
                            <td>@item.NumeroHabitacion</td>
                            <td>@item.Tipo</td>
                            <td>@item.Caracteriscas</td>
                            <td>@item.Precio</td>
                            <td>@item.Estado</td>
                            <td><img src="@item.Foto" style="height:80px;width:80px" /></td>
                            <td><a href="@($"RHabitacion/{item.HabitacionId}")">Mostrar</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>

@code
{
    private List<Habitacion> ListaHabitacion { get; set; }

    private DateTime Desde { get; set; } = DateTime.Now;
    private DateTime Hasta { get; set; } = DateTime.Now;

    public string Filtro { get; set; }
    private string FiltroFecha { get; set; }

    public string Criterio { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }


    private void Nuevo()
    {
        ListaHabitacion = new List<Habitacion>();
        Filtro = "0";
        Criterio = string.Empty;
    }

    private async Task Consultar()
    {
        switch (Filtro)
        {
            case "0":
                ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                break;
            case "1":
                int id;
                int.TryParse(Criterio, out id);
                if(Criterio.Length > 0)
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => h.HabitacionId == id).ToList();
                    break;
                }
                else
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => true).OrderBy(h => h.HabitacionId).ToList();
                    break;
                }
            case "2":
                if(Criterio.Length > 0)
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => h.NumeroHabitacion.Contains(Criterio)).ToList();
                    break;
                }
                else
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => true).OrderBy(h => h.NumeroHabitacion).ToList();
                    break;
                }
            case "3":
                if (Criterio.Length > 0)
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => h.Tipo.Contains(Criterio)).ToList();
                    break;
                }
                else
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => true).OrderBy(h => h.Tipo).ToList();
                    break;
                }
            case "4":
                if (Criterio.Length > 0)
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => h.Caracteriscas.Contains(Criterio)).ToList();
                    break;
                }
                else
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => true).OrderBy(h => h.Caracteriscas).ToList();
                    break;
                }
            case "5":
                decimal cantidad = Convert.ToDecimal(Criterio);
                if (Criterio.Length > 0)
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => h.Precio == cantidad).ToList();
                    break;
                }
                else
                {
                    ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
                    ListaHabitacion = ListaHabitacion.Where(h => true).OrderBy(h => h.Precio).ToList();
                    break;
                }

        }
    }
}