@page "/RReservaciones"

@using System.IO
@using System.Net.Http

@using Models

@inject HttpClient Http
@inject IToastService toast

<EditForm Model="reservacion">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <h3>Registro Reservaciones</h3>
        </div>
        <div class="card-body">
            <form>
                <div class="form-row align-items-center">
                    <div class="col">
                        <div class="form-group">
                            <label>Id Compra:</label>
                            <div class="input-group">
                                <InputNumber @bind-Value="reservacion.ReservacionId" class="form-control col-4" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">Buscar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*Aqui comienza la tabla que mostrara los clientes*@

                <div class="form-row">
                    <div class="form-group">
                        <label>Clientes</label>
                        <select class="form-control" @bind="FiltroCliente">
                            <option value="0">Todo</option>
                            <option value="1">ClienteId</option>
                            <option value="2">Nombre</option>
                            <option value="3">Nombre de Usuario</option>
                            <option value="4">Correo</option>
                        </select>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <label>Criterio</label>
                        <div class="input-group">
                            <input type="text" @bind="Criterio" class="form-control">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary input-group-text" @onclick="@(u => ConsultarClientes())"><i class="oi oi-list-rich" /> Consultar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>Cliente Id</th>
                                <th>Nombres</th>
                                <th>Telefono</th>
                                <th>Nombre de Usuario</th>
                                <th>Correo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @for (int i = 0; i < ListaCliente.Count; i++)
                            {
                                int index = i;
                                <tr>
                                    <td>@ListaCliente[i].ClienteId</td>
                                    <td>@ListaCliente[i].Nombres</td>
                                    <td>@ListaCliente[i].Telefono</td>
                                    <td>@ListaCliente[i].NombreUsuario</td>
                                    <td>@ListaCliente[i].Correo</td>
                                    <td><button type="button" class="btn btn-lg btn-primary" @onclick="(() => SeleccionarCliente(index))"> Seleccionar</button><input type="checkbox" disabled @bind="SeleccionCliente[index]" class="form-check-input col-1" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*Aqui termina la tabla para la seleccion de los clientes*@

                @*Aqui comienza la tabla que mostrara las habitaciones*@

                <div class="form-row">
                    <div class="form-group">
                        <label>Tipo Habitacion</label>
                        <div class="input-group">
                            <select class="form-control" @bind="FiltroHabitacion">
                                <option value="0">Todo</option>
                                <option value="1">Individual</option>
                                <option value="2">Doble</option>
                                <option value="3">Suite Máster</option>
                                <option value="4">Suite Junior</option>
                            </select>
                            <div class="input-group-append">
                                <button type="button" disabled="@DesabilitarConsultar" class="btn btn-primary input-group-text" @onclick="@(u => ConsultarHabitaciones())"><i class="oi oi-list-rich" /> Consultar</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-responsive text-nowrap">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>No. Habitación</th>
                                <th>Tipo</th>
                                <th>Caracteriscas</th>
                                <th>Precio</th>
                                <th>Estado</th>
                                <th>Foto</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="bg-white">
                            @for (int i = 0; i < ListaHabitacion.Count; i++)
                            {
                                int index = i;
                                Seleccion.Add(false);
                                <tr>
                                    <td>@ListaHabitacion[i].NumeroHabitacion</td>
                                    <td>@ListaHabitacion[i].Tipo</td>
                                    <td>@ListaHabitacion[i].Caracteriscas</td>
                                    <td>@ListaHabitacion[i].Precio</td>
                                    <td>@ListaHabitacion[i].Estado</td>
                                    <td><img src="@ListaHabitacion[i].Foto" style="height:80px;width:80px" /></td>
                                    <td><button type="button" class="btn btn-lg btn-primary" @onclick="(() => Seleccionar(index))"> Seleccionar</button><input type="checkbox" disabled @bind="Seleccion[index]" class="form-check-input col-1" /></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*Aqui termina la tabla para la seleccion de habitaciones*@

                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;
                &nbsp;

                <div class="form-group">
                    <label>Fecha Inicio:</label>
                    <InputDate @bind-Value="reservacion.FechaInicio" class="form-control" />
                    <ValidationMessage For="@(() => reservacion.FechaInicio)" />
                </div>

                <div class="form-group">
                    <label>Fecha Salida:</label>
                    <InputDate @bind-Value="reservacion.FechaSalida" class="form-control" />
                    <ValidationMessage For="@(() => reservacion.FechaSalida)" />
                </div>

                <div class="form-group">
                    <label>Cantidad de Adultos:</label>
                    <select class="form-control" @bind="CantidadAdultoSeleccionado">
                        <option value="0" disabled selected>Seleccione una cantidad</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Cantidad de Niños:</label>
                    <select class="form-control" @bind="CantidadNinoSeleccionado">
                        <option value="0">Ninguno</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-lg btn-primary" @onclick="Agregar"> Agregar</button>
                </div>

                @*Detalle*@
                @*La Tabla*@
                <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>No. Habitación</th>
                                <th>Tipo de Habitación</th>
                                <th>Cantidad Adultos</th>
                                <th>Cantidad Niños</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        @*Asignacion de los datos del Detalle*@
                        <tbody class="bg-light">
                            @foreach (var item in reservacion.ReservacionDetalle)
                            {
                                <tr>
                                    <td>@item.NumeroHabitacion</td>
                                    <td>@item.Tipo</td>
                                    <td>@item.CantidadAdultos</td>
                                    <td>@item.CantidadNinos</td>
                                    <td>@item.Precio</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="form-group">
                    <label>Balance:</label>
                    <InputNumber @bind-Value="reservacion.Balance" class="form-control" readonly="true" />
                    <ValidationMessage For="@(() => reservacion.Balance)" />
                </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary oi oi-file" @onclick="Nuevo"> Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success oi oi-cloud-upload" @onclick="Guardar"> Guardar</button>
                <button type="button" class="btn btn-lg btn-danger oi oi-trash" @onclick="Eliminar"> Eliminar</button>
            </div>
        </div>
    </div>

</EditForm>

@code {

    public int CantidadAdultoSeleccionado { get; set; }
    public int CantidadNinoSeleccionado { get; set; }
    public string FiltroCliente { get; set; }
    public string FiltroHabitacion { get; set; }

    Reservaciones reservacion = new Reservaciones();
    Habitacion habitacion = new Habitacion();

    private List<Habitacion> ListaHabitacion { get; set; }
    private List<Clientes> ListaCliente { get; set; }
    public List<bool> SeleccionCliente { get; set; }
    public List<bool> Seleccion { get; set; }

    public string Criterio { get; set; }

    public bool DesabilitarConsultar { get; set; }

    protected override void OnInitialized()
    {
        Nuevo();
    }

    private void Nuevo()
    {
        reservacion = new Reservaciones();
        ListaHabitacion = new List<Habitacion>();
        ListaCliente = new List<Clientes>();
        Seleccion = new List<bool>();
        CantidadAdultoSeleccionado = 0;
        CantidadNinoSeleccionado = 0;
        DesabilitarConsultar = false;
    }

    private async Task Buscar()
    {
        var respuesta = await Http.GetFromJsonAsync<Reservaciones>($"http://localhost:5000/Api/Reservacion/{reservacion.ReservacionId}");

        if (respuesta.ReservacionId == 0)
        {
            Nuevo();
            toast.ShowWarning("Reservación no encontrada");
        }
        else
        {
            reservacion = respuesta;
            DesabilitarConsultar = true;
            ListaCliente = new List<Clientes>();
            ListaCliente.Add(await Http.GetFromJsonAsync<Clientes>($"http://localhost:5000/Api/Clientes/{reservacion.ClienteId}"));
        }

    }

    public async Task ConsultarClientes()
    {
        ListaCliente = (await Http.GetFromJsonAsync<Clientes[]>($"http://localhost:5000/Api/Habitacion")).ToList();

        <option value="0">Todo</option>
        <option value="1">ClienteId</option>
        <option value="2">Nombre</option>
        <option value="3">Nombre de Usuario</option>
        <option value="4">Correo</option>

        switch (FiltroCliente)
        {
            case "0"://Todo
                break;
            case "1"://ClienteId
                if (Criterio.Trim().Length > 0)
                {
                    try
                    {
                        int id = Convert.ToInt32(Criterio);
                        ListaCliente = ListaCliente.Where(c => c.ClienteId == id).ToList();
                    }
                    catch (FormatException)
                    {
                        toast.ShowWarning("Ingrese un numero");
                    }
                }
                else
                {
                    ListaCliente = ListaCliente.Where(c => true).OrderBy(c => c.ClienteId).ToList();
                }
                break;
            case "2"://Nombres
                if (Criterio.Trim().Length > 0)
                {
                    ListaCliente = ListaCliente.Where(c => c.Nombres.Contains(Criterio)).ToList();
                }
                else
                {
                    ListaCliente = ListaCliente.Where(c => true).OrderBy(c => c.Nombres).ToList();
                }
                break;
            case "3"://NombreUsuario
                if (Criterio.Trim().Length > 0)
                {
                    ListaCliente = ListaCliente.Where(c => c.NombreUsuario.Contains(Criterio)).ToList();
                }
                else
                {
                    ListaCliente = ListaCliente.Where(c => true).OrderBy(c => c.NombreUsuario).ToList();
                }
                break;
            case "4"://Correo
                if (Criterio.Trim().Length > 0)
                {
                    ListaCliente = ListaCliente.Where(c => c.Correo.Contains(Criterio)).ToList();
                }
                else
                {
                    ListaCliente = ListaCliente.Where(c => true).OrderBy(c => c.Correo).ToList();
                }
                break;
        }
    }

    public async Task ConsultarHabitaciones()
    {
        ListaHabitacion = (await Http.GetFromJsonAsync<Habitacion[]>($"http://localhost:5000/Api/Habitacion")).ToList();
        ListaHabitacion = ListaHabitacion.Where(h => h.Estado == true).ToList();

        switch (FiltroHabitacion)
        {
            case "0":
                break;
            case "1":
                ListaHabitacion = ListaHabitacion.Where(h => h.Tipo == "Individual").ToList();
                break;
            case "2":
                ListaHabitacion = ListaHabitacion.Where(h => h.Tipo == "Doble").ToList();
                break;
            case "3":
                ListaHabitacion = ListaHabitacion.Where(h => h.Tipo == "Suite Máster").ToList();
                break;
            case "4":
                ListaHabitacion = ListaHabitacion.Where(h => h.Tipo == "Suite Junior").ToList();
                break;
        }
    }

    public void Seleccionar(int index)
    {
        for (int i = 0; i < Seleccion.Count(); i++)
        {
            if (Seleccion[i] == true)
                Seleccion[i] = false;
        }

        Seleccion[index] = true;

        habitacion = ListaHabitacion[index];
    }

    public void SeleccionarCliente(int index)
    {
        for (int i = 0; i < SeleccionCliente.Count(); i++)
        {
            if (SeleccionCliente[i] == true)
                SeleccionCliente[i] = false;
        }

        SeleccionCliente[index] = true;

        reservacion.ClienteId = ListaCliente[index].ClienteId;
    }

    public void Agregar()
    {
        if (habitacion.HabitacionId == 0)
        {
            toast.ShowInfo("Debe seleccionar una habitación");
            return;
        }

        if (CantidadAdultoSeleccionado < 1)
        {
            toast.ShowInfo("Debe seleccionar como minimo un adulto");
            return;
        }

        reservacion.ReservacionDetalle.Add(new ReservacionesDetalle
        {
            DetalleId = 0,
            ReservacionId = reservacion.ReservacionId,
            NumeroHabitacion = habitacion.NumeroHabitacion,
            CantidadAdultos = CantidadAdultoSeleccionado,
            CantidadNinos = CantidadNinoSeleccionado,
            Tipo = habitacion.Tipo,
            Precio = habitacion.Precio,
            HabitacionId = habitacion.HabitacionId
        });

        reservacion.Balance += habitacion.Precio;

        habitacion = new Habitacion();
        for (int i = 0; i < Seleccion.Count(); i++)
        {
            if (Seleccion[i] == true)
                Seleccion[i] = false;
        }
    }

    private async Task Guardar()
    {
        var guardado = await Http.PostAsJsonAsync("http://localhost:5000/Api/Reservacion", reservacion);

        var estado = await guardado.Content.ReadFromJsonAsync<bool>();

        if (estado)
        {
            toast.ShowSuccess("Guardado correctamente");
            Nuevo();
        }
        else
            toast.ShowError("Guardado incorrecto");

    }

    private async Task Eliminar()
    {
        var respuesta = await Http.PostAsJsonAsync($"http://localhost:5000/Api/Reservacion/{reservacion.ReservacionId}", reservacion.ReservacionId);

        var estado = await respuesta.Content.ReadFromJsonAsync<bool>();

        if (estado)
        {
            toast.ShowSuccess("Eliminado correctamente");
            Nuevo();
        }
        else
            toast.ShowError("No fue posible eliminar");
    }
}
