@page "/RReservaciones"

@using System.IO
@using System.Net.Http

@using Models

@inject HttpClient Http
@inject IToastService toast

<EditForm Model="Reservacion">
    <DataAnnotationsValidator />

    <div class="card">
        <div class="card-header">
            <h3>Registro Reservaciones</h3>
        </div>
        <div class="card-body">
            <form>

                @*

                    <div class="form-row align-items-center">
                        <div class="col">
                            <div class="form-group">
                                <label>Id Compra:</label>
                                <div class="input-group">
                                    <InputNumber @bind-Value="Reservacion.ReservacionId" class="form-control col-4" />
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary input-group-text" @onclick="Buscar">Buscar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                *@

                <div class="form-group">
                    <label>Fecha Inicio:</label>
                    <InputDate @bind-Value="Reservacion.FechaInicio" class="form-control" />
                    <ValidationMessage For="@(() => Reservacion.FechaInicio)" />
                </div>

                <div class="form-group">
                    <label>Fecha Salida:</label>
                    <InputDate @bind-Value="Reservacion.FechaSalida" class="form-control" />
                    <ValidationMessage For="@(() => Reservacion.FechaSalida)" />
                </div>

                <div class="form-group">
                    <label>Cantidad de Adultos:</label>
                    <select class="form-control" @bind="CAdultoSeleccionado">
                        <option value="0" disabled selected>Seleccione un Articulo</option>

                    </select>
                </div>

                <div class="form-group">
                    <label>Cantidad de Niños:</label>
                    <select class="form-control" @bind="CNinoSeleccionado">
                        <option value="0" disabled selected>Seleccione un Articulo</option>

                    </select>
                </div>

                <div class="col">
                    <label>Tipo de Habitacion:</label>
                    <select class="form-control" @bind="THabitacionSeleccionado">
                        <option value="0" disabled selected>Seleccione un Articulo</option>
                    </select>
                </div>

                @*Detalle*@
                @*La Tabla*@
                <div class="table-responsive text-nowrap" style="position: relative; height:200px; overflow: auto; display: block;">
                    <table class="table table-striped">
                        <thead class="thead-light">
                            <tr>
                                <th>No. Habitación</th>
                                <th>Tipo de Habitación</th>
                                <th>Cantidad Adultos</th>
                                <th>Cantidad Niños</th>
                                <th>Precio</th>
                            </tr>
                        </thead>
                        @*Asignacion de los datos del Detalle*@
                        <tbody class="bg-light">
                            @foreach (var item in Reservacion.ReservacionDetalle)
                            {
                                <tr>
                                    <td>@item.NumeroHabitacion</td>
                                    <td>@item.Tipo</td>
                                    <td>@item.CantidadAdultos</td>
                                    <td>@item.CantidadNinos</td>
                                    <td>@item.Precio</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @*
                    <div class="form-group">
                        <label>Monto:</label>
                        <InputNumber @bind-Value="Rese.Monto" class="form-control" readonly="true" />
                        <ValidationMessage For="@(() => Compra.Monto)" />
                    </div>
                *@
            </form>
        </div>
        <div class="card-footer">
            <div class="form-group text-center" display: inline-block>
                <button type="button" class="btn btn-lg btn-primary"> <i class="oi oi-plus" />Nuevo</button>
                <button type="submit" class="btn btn-lg btn-success"><i class="oi oi-hard-drive" />Guardar</button>
                <button type="button" class="btn btn-lg btn-danger"><i class="oi oi-trash" />Eliminar</button>
            </div>
        </div>
    </div>

</EditForm>

@code {

    public int CAdultoSeleccionado { get; set; }
    public int CNinoSeleccionado { get; set; }
    public int THabitacionSeleccionado { get; set; }
    public int Cantidad { get; set; }

    Reservaciones Reservacion = new Reservaciones();




}
